<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/index_css.css" type="text/css">
    <link rel="stylesheet" href="css/title_css.css" type="text/css">
    <link rel="stylesheet" href="css/form_css.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap">
    <title>Laborlist and Wages</title>
    <style>
        body{
            font-family: 'JetBrains Mono';
        }
    </style>
</head>
<body>

   
        
    <!--Nav bar-->
    <%- include('../partials/header_def.ejs') %>
    

    <!--for animated laborlist and wages text-->
    <div class="homepage">
        <h1 style="@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');">
            <div class = "word"></div>
        </h1>
    </div>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        var words = ['<Laborlist & Wages>'],
    part,
    i = 0,
    offset = 0,
    len = words.length,
    forwards = true,
    skip_count = 0,
    skip_delay = 15,
    speed = 70;
var wordflick = function () {
  setInterval(function () {
    if (forwards) {
      if (offset >= words[i].length) {
        ++skip_count;
        if (skip_count == skip_delay) {
          forwards = false;
          skip_count = 0;
        }
      }
    }
    else {
      if (offset == 0) {
        forwards = true;
        i++;
        offset = 0;
        if (i >= len) {
          i = 0;
        }
      }
    }
    part = words[i].substr(0, offset);
    if (skip_count == 0) {
      if (forwards) {
        offset++;
      }
      else {
        offset--;
      }
    }
    $('.word').text(part);
  },speed);
};

$(document).ready(function () {
  wordflick();
});
    </script>
</body>
<%- include('../partials/footer.ejs') %>
</html>